In [92]:
import pandas as pd
import requests

# EXTRACT

In [93]:
df_books = pd.read_csv('data/books.csv')
df_books.head()

,isbn13,isbn10,title,subtitle,authors,categories,thumbnail,description,published_year,average_rating,num_pages,ratings_count
0,9780002005883,0002005883,Gilead,NaN,Marilynne Robinson,Fiction,http://books.google.com/books/content?id=KQZCP...,A NOVEL THAT READERS and critics have been eag...,2004.0,3.85,247.0,361.0
1,9780002261982,0002261987,Spider's Web,A Novel,Charles Osborne;Agatha Christie,Detective and mystery stories,http://books.google.com/books/content?id=gA5GP...,A new 'Christie for Christmas' -- a full-lengt...,2000.0,3.83,241.0,5164.0
2,9780006163831,0006163831,The One Tree,NaN,Stephen R. Donaldson,American fiction,http://books.google.com/books/content?id=OmQaw...,Volume Two of Stephen Donaldson's acclaimed se...,1982.0,3.97,479.0,172.0
3,9780006178736,0006178731,Rage of angels,NaN,Sidney Sheldon,Fiction,http://books.google.com/books/content?id=FKo2T...,"A memorable, mesmerizing heroine Jennifer -- b...",1993.0,3.93,512.0,29532.0
4,9780006280897,0006280897,The Four Loves,NaN,Clive Staples Lewis,Christian life,http://books.google.com/books/content?id=XhQ5X...,Lewis' work on the nature of love divides love...,2002.0,4.15,170.0,33684.0

In [94]:
df_books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6810 entries, 0 to 6809
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   isbn13          6810 non-null   int64
 1   isbn10          6810 non-null   object
 2   title           6810 non-null   object
 3   subtitle        2381 non-null   object
 4   authors         6738 non-null   object
 5   categories      6711 non-null   object
 6   thumbnail       6481 non-null   object
 7   description     6548 non-null   object
 8   published_year  6804 non-null   float64
 9   average_rating  6767 non-null   float64
 10  num_pages       6767 non-null   float64
 11  ratings_count   6767 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 638.6+ KB

# VALIDATING DATA

### CHECK NULL VALUE

In [95]:
df_books.isna().sum()

isbn13               0
isbn10               0
title                0
subtitle          4429
authors             72
categories          99
thumbnail          329
description        262
published_year       6
average_rating      43
num_pages           43
ratings_count       43
dtype: int64

### CHECK DUPLICATED DATA

In [96]:
print(df_books.duplicated().sum())

0

# Data Features

- **isbn13**: Código ISBN de 13 dígitos que identifica de manera única cada libro.
- **isbn10**: Código ISBN de 10 dígitos, versión más antigua del ISBN.
- **title**: El título del libro.
- **subtitle**: El subtítulo del libro (si lo tiene).
- **authors**: Nombre(s) del o los autores del libro.
- **categories**: Categorías o géneros a los que pertenece el libro.
- **thumbnail**: URL de la imagen miniatura del libro.
- **description**: Descripción o sinopsis del libro.
- **published_year**: El año en que el libro fue publicado.
- **average_rating**: La calificación promedio de los usuarios sobre el libro.
- **num_pages**: El número de páginas del libro.
- **ratings_count**: El número total de calificaciones recibidas por el libro.

# TRANSFORM

#### Primero separaremos los campos que vamos a usar

In [97]:
df_books = df_books[['title','subtitle','authors','categories','description','published_year','average_rating','ratings_count']]

#### Empezaremos con el campo subtitle ####

In [98]:
print(df_books.subtitle.isna().sum())

4429

In [99]:
df_books.subtitle[0:20]

0                                                NaN
1                                            A Novel
2                                                NaN
3                                                NaN
4                                                NaN
5                                                NaN
6                                                NaN
7     A History of the Indian Ocean and Its Invaders
8                                    Chaos and Order
9                                                NaN
10                                               NaN
11                                               NaN
12                                               NaN
13                                               NaN
14                                               NaN
15                                               NaN
16                                               NaN
17                                               NaN
18                                               NaN
19                                               NaN
Name: subtitle, dtype: object

In [100]:
# Reemplazamos los nulos por "without subtitle"
df_books['subtitle'].fillna("without subtitle",inplace=True)

/tmp/ipykernel_10616/1980732511.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_books['subtitle'].fillna("without subtitle",inplace=True)

In [101]:
df_books['subtitle'].isna().sum()

np.int64(0)

#### Trataremos el campo authors

In [102]:
# vemos cuantos nulos tiene el campo authors
df_books.authors.isna().sum()

np.int64(72)

In [103]:
# analizamos los nulos dentro del campo authors, verificamos en internet y estos libros si tienen autor
df_books[df_books.authors.isna()].head()

,title,subtitle,authors,categories,description,published_year,average_rating,ratings_count
646,Wodehouse on crime,without subtitle,NaN,NaN,NaN,1981.0,4.39,3143.0
854,"Burt Dow, Deep-Water Man",without subtitle,NaN,Juvenile Fiction,"Burt goes fishing, takes refuge from a storm i...",1989.0,4.10,645.0
885,The Epic of Gilgamesh,without subtitle,NaN,Fiction,Enkidu is created by the gods to challenge the...,2006.0,3.67,51735.0
890,One Flew Over the Cuckoo's Nest,without subtitle,NaN,Fiction,"McMurphy, a criminal who feigns insanity, is a...",1962.0,4.19,3859.0
985,A Year Down Yonder,without subtitle,NaN,Juvenile Fiction,"During the recession of 1937, fifteen-year-old...",2002.0,4.11,25534.0

In [104]:
# creamos una lista con los titulos de los libros que les falta autor para buscarlos usando web scraping
df_title_null = df_books[df_books.authors.isna()]['title'].tolist() 
df_title_null

['Wodehouse on crime',
 'Burt Dow, Deep-Water Man',
 'The Epic of Gilgamesh',
 "One Flew Over the Cuckoo's Nest",
 'A Year Down Yonder',
 'Tales of the Norse Gods',
 'Sir Gawain and the Green Knight, Pearl, and Sir Orfeo',
 'Flap Your Wings',
 'Big Dog ... Little Dog',
 'Maccabbees',
 'Atonement',
 'Three Greek Plays',
 "McElligot's Pool",
 "Dr. Seuss's Sleep Book",
 "Eric Carle's Very Little Library: The very hungry caterpillar (1st board book ed., 1994)",
 'Amphigorey',
 'Blow Fly',
 "About the B'nai Bagels",
 'Wizard and Glass',
 'The Gunslinger',
 'Grade 4 Common Core Exemplar Collection',
 'The Drama of the Gifted Child',
 'Out of this World',
 'Sherlock Holmes the Complete Novels and Stories Book Discussion Kit',
 'Frankenstein: City of Night: A Novel',
 'Breakfast of Champions',
 'Summer for the Gods',
 'Gift from the Sea',
 'The Sibley Field Guide to Birds of Western North America',
 'The Little Butterfly',
 "Three Tales of My Father's Dragon",
 'Second Home',
 'The Legend of the Poinsettia',
 'Middlesex Borough',
 'The Lord of the Rings',
 'The Three Musketeers',
 'New Complete Guide to Sewing',
 'Irish Blessings',
 'Beauty and the Beast',
 'New X-Men - Volume 1',
 'Astonishing X-Men - Volume 2',
 'Astonishing X-Men - Volume 3',
 'Black Widow',
 'Supreme Power',
 'Ultimate Spider-Man - Volume 16',
 'Ultimate X-Men - Volume 14',
 'Ultimate Spider-Man -',
 'Marvel 1602',
 'Ultimate Annuals -',
 'Anita Blake, Vampire Hunter',
 "A Young Person's Guide to Philosophy",
 "Gulliver's Travels",
 "William Shakespeare's Romeo and Juliet",
 'The Mysterious Island',
 'A Picture Book of Thomas Jefferson',
 'A Picture Book of Anne Frank',
 'Head, Shoulders, Knees and Toes ...',
 'King Arthur Flour Whole Grain Baking',
 "The Beatles' Story on Capitol Records",
 'The Mind Parasites',
 'See No Evil',
 'Love',
 'The Book of the Dragon',
 'The Gangs of New York',
 'Mangoes & Curry Leaves',
 "Any Woman's Blues",
 'What Do Women Want?',
 'Museum of Terror',
 'Crime Novels',
 'Carnet de Voyage',
 "McSweeney's",
 "Scott Pilgrim's Precious Little Life"]

In [105]:
# Función para obtener el autor de un libro por su título
def get_author_by_title(title):
    url = "https://www.googleapis.com/books/v1/volumes"  # Endpoint de la API de Google Books
    params = {
        'q': title,  # Parámetro de búsqueda: título del libro
        'fields': 'items(volumeInfo(title,authors))',  # Campos que queremos obtener: título y autores
        'maxResults': 1  # Queremos solo el primer resultado
    }
    
    # Hacemos la solicitud GET a la API con el título y los parámetros
    response = requests.get(url, params=params)
    
    # Si la solicitud fue exitosa (código de estado 200)
    if response.status_code == 200:
        data = response.json()  # Convertimos la respuesta en formato JSON
        
        # Si encontramos resultados y hay autores en el primer resultado
        if 'items' in data and 'authors' in data['items'][0]['volumeInfo']:
            return data['items'][0]['volumeInfo']['authors'][0]  # Retornamos el primer autor
        else:
            return 'Author not found'  # Si no hay autores, devolvemos un mensaje
    else:
        return 'Request failed'  # Si la solicitud falló, devolvemos un mensaje de error

In [106]:
# creamos diccionario para almacenar los autores
authors_dict = {}

In [107]:
# Iteramos sobre la lista de títulos
for title in df_title_null:
    author = get_author_by_title(title)
    authors_dict[title] = author

In [108]:
# Reemplazar valores nulos en 'authors' usando el diccionario
df_books['authors'] = df_books.apply(
    lambda row: authors_dict.get(row['title'], row['authors']) if pd.isnull(row['authors']) else row['authors'], axis=1
)

# Verificar que los valores nulos han sido reemplazados
print(df_books['authors'].isnull().sum())

0

#### Categories

In [109]:
# analzamos los nulos
df_books[df_books.categories.isna()]

,title,subtitle,authors,categories,description,published_year,average_rating,ratings_count
16,Well of Darkness,without subtitle,Margaret Weis;Tracy Hickman,NaN,Gareth is just a frightened young lad when he ...,2001.0,3.66,68.0
555,The Professor of Desire,without subtitle,Philip Roth,NaN,"As a student in college, David Kepesh styles h...",1995.0,3.65,1950.0
644,The Pearl,The Red Pony ; Ill. by Wesley Dennis ; [both B...,John Steinbeck,NaN,NaN,1987.0,3.64,1431.0
646,Wodehouse on crime,without subtitle,Pelham Grenville Wodehouse,NaN,NaN,1981.0,4.39,3143.0
650,The New York Trilogy,Ghosts,Paul Auster,NaN,NaN,1987.0,3.79,11696.0
...,...,...,...,...,...,...,...,...
6722,Collected Works of Carson McCullers,without subtitle,Carson McCullers,NaN,NaN,2017.0,4.38,1015.0
6785,"J. D. Salinger, The Catcher in the Rye",Annotations and Study Aids,Jerome David Salinger;Rudolph F. Rau,NaN,NaN,1999.0,3.80,69.0
6786,In the Country of Last Things,Hauptbd.,Paul Auster,NaN,NaN,2001.0,3.91,6230.0
6787,About a Boy,without subtitle,Nick Hornby,NaN,NaN,2002.0,3.80,155.0
6800,Nietzsche For Beginners,without subtitle,Marc Sautet,NaN,Not only does Nietzsche for Beginners delve in...,2004.0,3.26,21.0

In [110]:
# filtramos los libros que les falta categories
df_categories_null = df_books[df_books.categories.isna()]['title'].tolist()

In [111]:
def get_categories_by_title(title):
    url = "https://www.googleapis.com/books/v1/volumes"
    params = {
        "q": f"intitle:{title}",
        "maxResults": 1
    }
    try:
        response = requests.get(url, params=params)
        response.raise_for_status()
        data = response.json()
        
        if "items" in data:
            # Extraer la categoria si existe
            categories = data['items'][0]['volumeInfo'].get('categories', None)
            return categories
        else:
            return None
    except (requests.RequestException, ValueError) as e:
        print(f"Error al obtener datos para el libro {title}: {e}")
        return None

In [112]:
categorie_dict={}

In [113]:
for title in df_categories_null:
    categorie = get_categories_by_title(title)
    categorie_dict[title] = categorie

In [114]:
# Llenar las categorias nulas en el DataFrame original
df_books['categories'] = df_books.apply(
    lambda row: categorie_dict.get(row['title'], row['categories']) if pd.isnull(row['categories']) else row['categories'], axis=1
)

In [115]:
# la api de google no pudo llenar la categoria de estos libros
df_books.categories.isna().sum()

np.int64(12)

In [116]:
# Procedemos a reemplazarlo por "unknown"
df_books['categories'].fillna('unknown',inplace=True)

/tmp/ipykernel_10616/3663343210.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_books['categories'].fillna('unknown',inplace=True)

In [ ]:
# Revisar si hay objetos tipo lista 
print(df_books['categories'].apply(type).value_counts())

In [153]:
# Convertir las listas en una cadena de texto separada por comas
df_books['categories'] = df_books['categories'].apply(lambda x: ', '.join(x) if isinstance(x, list) else x)

In [117]:
df_books.categories.isna().sum()

np.int64(0)

#### Description

In [118]:
df_description_null=df_books[df_books.description.isna()]['title'].tolist()

In [119]:
def get_description_by_title(title):
    url = "https://www.googleapis.com/books/v1/volumes"
    params = {
        "q": f"intitle:{title}",
        "maxResults": 1
    }
    try:
        response = requests.get(url, params=params)
        response.raise_for_status()
        data = response.json()
        
        if "items" in data:
            # Extraer la categoria si existe
            description = data['items'][0]['volumeInfo'].get('description', None)
            return description
        else:
            return None
    except (requests.RequestException, ValueError) as e:
        print(f"Error al obtener datos para el libro {title}: {e}")
        return None

In [120]:
description_dict = {}

In [121]:
for title in df_description_null:
    description = get_description_by_title(title)
    description_dict[title] = description

In [122]:
df_books['description'] = df_books.apply(
    lambda row: description_dict.get(row['title'], row['description']) if pd.isnull(row['description']) else row['description'], axis=1
)

In [123]:
# Quedaron nulos, los reemplazaremos por 'with description'
df_books['description'].isna().sum()

np.int64(67)

In [124]:
df_books['description'].fillna('with description',inplace=True)

/tmp/ipykernel_10616/1543285989.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_books['description'].fillna('with description',inplace=True)

#### publisher_year

In [125]:
df_year_null = df_books[df_books.published_year.isna()]['title'].tolist()

In [126]:
df_year_null

['Book Club',
 'The Civil War',
 'The Fellowship of the Ring',
 'Grade 4 Common Core Exemplar Collection',
 'Frankenstein: City of Night: A Novel',
 '20000 LEAGUES UNDER THE SEA']

In [127]:
df_books[df_books.published_year.isna()]

,title,subtitle,authors,categories,description,published_year,average_rating,ratings_count
1114,Book Club,Life of Pi (7 Copies).,Yann Martel,[Book clubs (Discussion groups)],"""Love curling up with a good book? If so, a bo...",NaN,3.90,4242.0
1428,The Civil War,A Narrative,Shelby Foote,United States,"""Foote's comprehensive history of the Civil Wa...",NaN,4.53,6406.0
1779,The Fellowship of the Ring,without subtitle,John Ronald Reuel Tolkien,Fiction,"Frodo Baggins, Sam, and a small band of compan...",NaN,NaN,NaN
3062,Grade 4 Common Core Exemplar Collection,without subtitle,Lauren Davis,English language,"""Common Core Classroom Collections include a m...",NaN,4.13,1709.0
3554,Frankenstein: City of Night: A Novel,without subtitle,Dean Koontz,Horror tales,Detectives Carson O'Connor and Michael Maddiso...,NaN,3.97,1041.0
4548,20000 LEAGUES UNDER THE SEA,without subtitle,JULIO VERNE,[Fiction],The adventure begins when Professor Aronnax ac...,NaN,3.71,34.0

In [128]:
# Como son pocos libros busque en internet su año de publiacion
year_dict = {}
year = [2001, 1987, 1954, 2011, 2004, 1870]

In [129]:
for i, title in enumerate(df_year_null):  # enumerate() para obtener índice y título
    year_dict[title] = year[i]

In [130]:
# LLenaremos los valores nulos en df_books
df_books['published_year'] = df_books.apply(
    lambda row: year_dict.get(row['title'], row['published_year']) if pd.isnull(row['published_year']) else row['published_year'],
    axis=1
)

In [132]:
# Convertimos el tipo de dato float a datetime
df_books['published_year'] = pd.to_datetime(df_books['published_year'], format='%Y', errors='coerce')

In [133]:
# Convertimos los años a formato de fecha usando el 1 de enero como día predeterminado
df_books['published_year'] = pd.to_datetime(df_books['published_year'], format='%Y', errors='coerce')

In [134]:
df_books['year'] = df_books['published_year'].dt.year

#### average_rating

In [136]:
# analizamos los datos en el campo averga_rating
df_books[df_books.average_rating.isna()]

,title,subtitle,authors,categories,description,published_year,average_rating,ratings_count,year
453,The Pursuit of Happyness,without subtitle,Chris Gardner,Biography & Autobiography,The astounding yet true rags-to-riches saga of...,2009-01-01,NaN,NaN,2009
454,What A Lady Wants,without subtitle,Victoria Alexander,Fiction,One bachelor down . . . three more to go. Four...,2009-01-01,NaN,NaN,2009
455,A Little Bit Wicked,without subtitle,Victoria Alexander,Fiction,Who will be the last unmarried man standing? N...,2009-01-01,NaN,NaN,2009
456,The Wit and Wisdom of Winston Churchill,A Treasury of More than 1000 Quotations,James C. Humes,History,An extremely entertaining compendium of bon mo...,2009-01-01,NaN,NaN,2009
457,"Sleep, Pale Sister",without subtitle,Joanne Harris,Fiction,"Before the sweet delight of Chocolat, before t...",2009-01-01,NaN,NaN,2009
458,Midnighters #2: Touching Darkness,without subtitle,Scott Westerfeld,Young Adult Fiction,This is the second book in New York Times best...,2009-01-01,NaN,NaN,2009
459,The Queen of Attolia,without subtitle,Megan Whalen Turner,Young Adult Fiction,Discover the world of the Queen’s Thief New Yo...,2009-01-01,NaN,NaN,2009
460,The Collected Poetry of Nikki Giovanni,1968-1998,Nikki Giovanni,Poetry,This omnibus covers Nikki Giovanni's complete ...,2009-01-01,NaN,NaN,2009
461,Sugarplums and Scandal,without subtitle,Dana Cameron;Mary Daheim;Lori Avocato;Kerrelyn...,Fiction,SUGARPLUMS AND SCANDAL brings together the bes...,2010-01-01,NaN,NaN,2010
462,"How to Buy, Sell, and Profit on eBay",Kick-Start Your Home-Based Business in Just Th...,Adam Ginsberg,Business & Economics,A lively insider's guide to starting a success...,2010-01-01,NaN,NaN,2010
528,Goodman & Gilman's The Pharmacological Basis o...,without subtitle,Laurence Brunton;John Lazo;Keith Parker,Medical,"The undisputed leader in medical pharmacology,...",2005-01-01,NaN,NaN,2005
884,About a Boy,without subtitle,Nick Hornby,[Fiction],"Screenplay, revised primarily in April, throug...",2000-01-01,NaN,NaN,2000
1779,The Fellowship of the Ring,without subtitle,John Ronald Reuel Tolkien,Fiction,"Frodo Baggins, Sam, and a small band of compan...",1954-01-01,NaN,NaN,1954
1882,Bloodcurdling Tales of Horror and the Macabre:...,without subtitle,H. P. Lovecraft,Fiction,“H.P. Lovecraft has yet to be surpassed as the...,2002-01-01,NaN,NaN,2002
2491,Winston S. Churchill,without subtitle,Randolph Spencer Churchill;Martin Gilbert,Biography & Autobiography,"Indexes proverbs in Churchill's works, and pro...",1966-01-01,NaN,NaN,1966
2500,The Lord of the Rings,without subtitle,J. R. R. Tolkien;Alan Lee,Fiction,The three books that make up The Lord of the R...,1992-01-01,NaN,NaN,1992
2536,"Eats, Shoots & Leaves",The Zero Tolerance Approach to Punctuation,Lynne Truss,Language Arts & Disciplines,TRUSS/EATS SHOOTS AND LEAVES,2006-01-01,NaN,NaN,2006
2549,The Homecoming,without subtitle,Harold Pinter,Literature,'An exultant night - a man in total command of...,1970-01-01,NaN,NaN,1970
2865,"Martin Luther King, Jr",without subtitle,Martin Luther Jr King,African Americans,The story of one of the most influential civil...,1998-01-01,NaN,NaN,1998
3575,Light,without subtitle,M. John Harrison,Fiction,In M. John Harrison’s dangerously illuminating...,2004-01-01,NaN,NaN,2004
3576,The Last of the Mohicans,without subtitle,James Fenimore Cooper,Fiction,Illus. in black-and-white. This action-packed ...,2005-01-01,NaN,NaN,2005
3655,Descriptive Writing,without subtitle,Tara McCarthy,Language Arts & Disciplines,Provides ideas and strategies for exploring an...,1998-01-01,NaN,NaN,1998
3932,Cicero in Twenty-eight Volumes,without subtitle,Marcus Tullius Cicero,"Consuls, Roman",with description,1967-01-01,NaN,NaN,1967
3935,"Plato, with an English Translation",without subtitle,Plato,"Philosophy, Ancient",with description,1914-01-01,NaN,NaN,1914
3962,"In Search of Lost Time, Volume IV",Sodom and Gomorrah (A Modern Library E-Book),Marcel Proust,Fiction,'Flower and plant have no conscious will. They...,2000-01-01,NaN,NaN,2000
4375,Love-Lies-Bleeding,A Play,Don DeLillo,Euthanasia,Three people gather to determine the fate of t...,2005-01-01,NaN,NaN,2005
5671,Cutting Edge,Power Plays 06,Tom Clancy;Martin H. Greenberg;Jerome Preisler,Fiction,WIRED. Africa becomes the battle ground in 21s...,2002-01-01,NaN,NaN,2002
5672,Tom Clancy's Net Force: Virtual Vandals,Net Force 01,Tom Clancy;Steve Pieczenik;Diane Duane,Young Adult Fiction,Here comes a Clancy first: a new series of nov...,1999-01-01,NaN,NaN,1999
5673,The Hound of the Baskervilles,without subtitle,Sir Arthur Conan Doyle,Fiction,Sherlock Holmes and Dr. Watson face a mystery ...,2001-01-01,NaN,NaN,2001
5674,"Kristin Lavransdatter, II: The Wife",without subtitle,Sigrid Undset,Fiction,“[Sigrid Undset] should be the next Elena Ferr...,1999-01-01,NaN,NaN,1999
5675,"Selected Poems (Melville, Herman)",without subtitle,Herman Melville,Poetry,While best known for such novels as his monume...,2006-01-01,NaN,NaN,2006
5676,Crime and Punishment,without subtitle,Fyodor Dostoyevsky,Fiction,"Raskolnikov, a destitute and desperate former ...",2002-01-01,NaN,NaN,2002
5677,Dance of the Gods,without subtitle,Nora Roberts,Vampires,Combining elements of the supernatural with gr...,2006-01-01,NaN,NaN,2006
5958,Metamorphoses,without subtitle,Ovid,[Literary Criticism],The brilliant historical epic “Metamorphoses” ...,2006-01-01,NaN,NaN,2006
5961,As You Like It,without subtitle,William Shakespeare,Drama,Readers and audiences have long greeted As You...,2011-01-01,NaN,NaN,2011
5962,Henry V,without subtitle,William Shakespeare,Drama,"Henry V is Shakespeare's most famous ""war play...",2011-01-01,NaN,NaN,2011
5963,Henry IV,without subtitle,William Shakespeare,Drama,Family relationships are at the center of Henr...,2011-01-01,NaN,NaN,2011
5964,Shakespeare's Sonnets,without subtitle,William Shakespeare,Drama,"A bestselling, beautifully designed edition of...",2011-01-01,NaN,NaN,2011
5965,Henry VIII,without subtitle,William Shakespeare,Drama,With new editors who have incorporated the mos...,2001-01-01,NaN,NaN,2001
5966,Living with the Passive-Aggressive Man,Coping with Hidden Aggression--from the Bedroo...,Scott Wetzler,Psychology,"With more than 100,000 copies in print, Living...",2011-01-01,NaN,NaN,2011
5967,Metamorphoses,without subtitle,Publius Naso,[Literary Criticism],CONTENTSBOOK THE FIRSTBOOK THE SECONDBOOK THE ...,2012-01-01,NaN,NaN,2012
6256,The Walking Dead,without subtitle,Robert Kirkman,"Comic books, strips, etc",Police officer Rick Grimes and a few human sur...,2004-01-01,NaN,NaN,2004
6798,Good Fight,without subtitle,Judd Winick;Matthew Clark,Juvenile Fiction,Presents the adventures of a new group of hero...,2007-01-01,NaN,NaN,2007

In [137]:
df_books.average_rating.mean()

np.float64(3.933283582089552)

In [138]:
df_books.average_rating.fillna(3.93, inplace=True)

/tmp/ipykernel_10616/4225283263.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_books.average_rating.fillna(3.93, inplace=True)

#### ratings_count

In [139]:
df_books[df_books.ratings_count.isna()]

,title,subtitle,authors,categories,description,published_year,average_rating,ratings_count,year
453,The Pursuit of Happyness,without subtitle,Chris Gardner,Biography & Autobiography,The astounding yet true rags-to-riches saga of...,2009-01-01,3.93,NaN,2009
454,What A Lady Wants,without subtitle,Victoria Alexander,Fiction,One bachelor down . . . three more to go. Four...,2009-01-01,3.93,NaN,2009
455,A Little Bit Wicked,without subtitle,Victoria Alexander,Fiction,Who will be the last unmarried man standing? N...,2009-01-01,3.93,NaN,2009
456,The Wit and Wisdom of Winston Churchill,A Treasury of More than 1000 Quotations,James C. Humes,History,An extremely entertaining compendium of bon mo...,2009-01-01,3.93,NaN,2009
457,"Sleep, Pale Sister",without subtitle,Joanne Harris,Fiction,"Before the sweet delight of Chocolat, before t...",2009-01-01,3.93,NaN,2009
458,Midnighters #2: Touching Darkness,without subtitle,Scott Westerfeld,Young Adult Fiction,This is the second book in New York Times best...,2009-01-01,3.93,NaN,2009
459,The Queen of Attolia,without subtitle,Megan Whalen Turner,Young Adult Fiction,Discover the world of the Queen’s Thief New Yo...,2009-01-01,3.93,NaN,2009
460,The Collected Poetry of Nikki Giovanni,1968-1998,Nikki Giovanni,Poetry,This omnibus covers Nikki Giovanni's complete ...,2009-01-01,3.93,NaN,2009
461,Sugarplums and Scandal,without subtitle,Dana Cameron;Mary Daheim;Lori Avocato;Kerrelyn...,Fiction,SUGARPLUMS AND SCANDAL brings together the bes...,2010-01-01,3.93,NaN,2010
462,"How to Buy, Sell, and Profit on eBay",Kick-Start Your Home-Based Business in Just Th...,Adam Ginsberg,Business & Economics,A lively insider's guide to starting a success...,2010-01-01,3.93,NaN,2010
528,Goodman & Gilman's The Pharmacological Basis o...,without subtitle,Laurence Brunton;John Lazo;Keith Parker,Medical,"The undisputed leader in medical pharmacology,...",2005-01-01,3.93,NaN,2005
884,About a Boy,without subtitle,Nick Hornby,[Fiction],"Screenplay, revised primarily in April, throug...",2000-01-01,3.93,NaN,2000
1779,The Fellowship of the Ring,without subtitle,John Ronald Reuel Tolkien,Fiction,"Frodo Baggins, Sam, and a small band of compan...",1954-01-01,3.93,NaN,1954
1882,Bloodcurdling Tales of Horror and the Macabre:...,without subtitle,H. P. Lovecraft,Fiction,“H.P. Lovecraft has yet to be surpassed as the...,2002-01-01,3.93,NaN,2002
2491,Winston S. Churchill,without subtitle,Randolph Spencer Churchill;Martin Gilbert,Biography & Autobiography,"Indexes proverbs in Churchill's works, and pro...",1966-01-01,3.93,NaN,1966
2500,The Lord of the Rings,without subtitle,J. R. R. Tolkien;Alan Lee,Fiction,The three books that make up The Lord of the R...,1992-01-01,3.93,NaN,1992
2536,"Eats, Shoots & Leaves",The Zero Tolerance Approach to Punctuation,Lynne Truss,Language Arts & Disciplines,TRUSS/EATS SHOOTS AND LEAVES,2006-01-01,3.93,NaN,2006
2549,The Homecoming,without subtitle,Harold Pinter,Literature,'An exultant night - a man in total command of...,1970-01-01,3.93,NaN,1970
2865,"Martin Luther King, Jr",without subtitle,Martin Luther Jr King,African Americans,The story of one of the most influential civil...,1998-01-01,3.93,NaN,1998
3575,Light,without subtitle,M. John Harrison,Fiction,In M. John Harrison’s dangerously illuminating...,2004-01-01,3.93,NaN,2004
3576,The Last of the Mohicans,without subtitle,James Fenimore Cooper,Fiction,Illus. in black-and-white. This action-packed ...,2005-01-01,3.93,NaN,2005
3655,Descriptive Writing,without subtitle,Tara McCarthy,Language Arts & Disciplines,Provides ideas and strategies for exploring an...,1998-01-01,3.93,NaN,1998
3932,Cicero in Twenty-eight Volumes,without subtitle,Marcus Tullius Cicero,"Consuls, Roman",with description,1967-01-01,3.93,NaN,1967
3935,"Plato, with an English Translation",without subtitle,Plato,"Philosophy, Ancient",with description,1914-01-01,3.93,NaN,1914
3962,"In Search of Lost Time, Volume IV",Sodom and Gomorrah (A Modern Library E-Book),Marcel Proust,Fiction,'Flower and plant have no conscious will. They...,2000-01-01,3.93,NaN,2000
4375,Love-Lies-Bleeding,A Play,Don DeLillo,Euthanasia,Three people gather to determine the fate of t...,2005-01-01,3.93,NaN,2005
5671,Cutting Edge,Power Plays 06,Tom Clancy;Martin H. Greenberg;Jerome Preisler,Fiction,WIRED. Africa becomes the battle ground in 21s...,2002-01-01,3.93,NaN,2002
5672,Tom Clancy's Net Force: Virtual Vandals,Net Force 01,Tom Clancy;Steve Pieczenik;Diane Duane,Young Adult Fiction,Here comes a Clancy first: a new series of nov...,1999-01-01,3.93,NaN,1999
5673,The Hound of the Baskervilles,without subtitle,Sir Arthur Conan Doyle,Fiction,Sherlock Holmes and Dr. Watson face a mystery ...,2001-01-01,3.93,NaN,2001
5674,"Kristin Lavransdatter, II: The Wife",without subtitle,Sigrid Undset,Fiction,“[Sigrid Undset] should be the next Elena Ferr...,1999-01-01,3.93,NaN,1999
5675,"Selected Poems (Melville, Herman)",without subtitle,Herman Melville,Poetry,While best known for such novels as his monume...,2006-01-01,3.93,NaN,2006
5676,Crime and Punishment,without subtitle,Fyodor Dostoyevsky,Fiction,"Raskolnikov, a destitute and desperate former ...",2002-01-01,3.93,NaN,2002
5677,Dance of the Gods,without subtitle,Nora Roberts,Vampires,Combining elements of the supernatural with gr...,2006-01-01,3.93,NaN,2006
5958,Metamorphoses,without subtitle,Ovid,[Literary Criticism],The brilliant historical epic “Metamorphoses” ...,2006-01-01,3.93,NaN,2006
5961,As You Like It,without subtitle,William Shakespeare,Drama,Readers and audiences have long greeted As You...,2011-01-01,3.93,NaN,2011
5962,Henry V,without subtitle,William Shakespeare,Drama,"Henry V is Shakespeare's most famous ""war play...",2011-01-01,3.93,NaN,2011
5963,Henry IV,without subtitle,William Shakespeare,Drama,Family relationships are at the center of Henr...,2011-01-01,3.93,NaN,2011
5964,Shakespeare's Sonnets,without subtitle,William Shakespeare,Drama,"A bestselling, beautifully designed edition of...",2011-01-01,3.93,NaN,2011
5965,Henry VIII,without subtitle,William Shakespeare,Drama,With new editors who have incorporated the mos...,2001-01-01,3.93,NaN,2001
5966,Living with the Passive-Aggressive Man,Coping with Hidden Aggression--from the Bedroo...,Scott Wetzler,Psychology,"With more than 100,000 copies in print, Living...",2011-01-01,3.93,NaN,2011
5967,Metamorphoses,without subtitle,Publius Naso,[Literary Criticism],CONTENTSBOOK THE FIRSTBOOK THE SECONDBOOK THE ...,2012-01-01,3.93,NaN,2012
6256,The Walking Dead,without subtitle,Robert Kirkman,"Comic books, strips, etc",Police officer Rick Grimes and a few human sur...,2004-01-01,3.93,NaN,2004
6798,Good Fight,without subtitle,Judd Winick;Matthew Clark,Juvenile Fiction,Presents the adventures of a new group of hero...,2007-01-01,3.93,NaN,2007

In [140]:
df_books.ratings_count.mean()

np.float64(21069.09989655682)

In [141]:
df_books.ratings_count.fillna(21069.09,inplace=True)

/tmp/ipykernel_10616/3105388217.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_books.ratings_count.fillna(21069.09,inplace=True)

# LOAD

In [145]:
df_final = df_books[['title','subtitle','authors','categories','description','average_rating','ratings_count','year']]

In [166]:
df_final.to_csv('books_clean.csv',index=False)